@{
    ViewData["Title"] = "Order Completed";
}

<h2>🎉 Thank you for your purchase!</h2>
<p>Your order has been successfully placed.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
<a class="btn btn-primary" asp-controller="Order" asp-action="Index">📜 View Your Orders</a>

